.App {
  text-align: center;
}

.axis--x path {
  /*display: none;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend-container {
  cursor: pointer;
}

.legend-box {
  fill: #f0f0f0;
  stroke: #969696;
  stroke-width: 1px;
  rx: 10px;
  ry: 10px;
}

.legend-box-clicked {
  fill: #bdbdbd;
  stroke: #969696;
}
